# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/
.venv/
.env/


# =========================
# Environment Variables
# =========================
.env
.env.*
*.env

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Migrations (optional — see note below)
# app/migrations/*.py
# !app/migrations/__init__.py

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Celery
# =========================
celerybeat-schedule

# =========================
# Coverage / Testing
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Node (if frontend inside project)
# =========================
node_modules/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Docker (if added later)
# =========================
docker-compose.override.yml